<!DOCTYPE html
  PUBLIC "XSLT-compat">
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="pettable.js">
      <title>Pet Shop Dublin
         
         
      </title>
   </head>
   <body>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark"><button class="navbar-toggler" type="button" data-target="#navigation"><span class="navbar-toggler-icon"></span></button><div class="collapse navbar-collapse">
            <ul class="navbar-nav">
               <li class="nav-item active"><a href="index.html" class="nav-link"> Home </a></li>
               <li class="nav-item"><a href="pettable.html" class="nav-link"> Pet Table </a></li>
            </ul>
         </div>
      </nav>
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"><script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script><div class="container">
         <div class="row header" style="text-align:center;color:green">
            <h2>Service List</h2>
         </div>
         <table id="example" class="table table-striped table-bordered" style="width:100%">
            <th>
               <tr>
                  <th>Pet Name</th>
                  <th>Animal Type</th>
                  <th>Owner Name</th>
                  <th>Owner Phone</th>
               </tr>
            </th>
            <tbody>
               <tr>
                  <td>Lulinha</td>
                  <td>Dog</td>
                  <td>Paulo</td>
                  <td>0838884408</td>
               </tr>
               <tr>
                  <td>Tirulipa</td>
                  <td>Dog</td>
                  <td>Johny</td>
                  <td>0838847842</td>
               </tr>
               <tr>
                  <td>Matuzalém</td>
                  <td>Dog</td>
                  <td>Fred</td>
                  <td>0885859587</td>
               </tr>
               <tr>
                  <td>Meleca</td>
                  <td>Cat</td>
                  <td>Lucia</td>
                  <td>0838746592</td>
               </tr>
            </tbody>
         </table>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>