 .navbar {
     background: #000000
 }

 .nav-item::after {
     content: '';
     display: block;
     width: 0px;
     height: 2px;
     background: #fec400;
     transition: 0.4s
 }

 .nav-item:hover::after {
     width: 100%
 }

 .navbar-dark .navbar-nav .active>.nav-link,
 .navbar-dark .navbar-nav .nav-link.active,
 .navbar-dark .navbar-nav .nav-link.show,
 .navbar-dark .navbar-nav .show>.nav-link,
 .navbar-dark .navbar-nav .nav-link:focus,
 .navbar-dark .navbar-nav .nav-link:hover {
     color: #fec400
 }

 .nav-link {
     padding: 25px 5px;
     transition: 0.2s
 }

 body {
     background-color: grey
 }





 @import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

html,
body {
    height: 100%
}

* {
    padding: 0px;
    margin: 0px
}

body {
    background-color: #dde3fb;
    display: grid;
    place-items: center
}

.card {
    background-color: #222222;
    border-radius: 10px;
    font-family: 'Manrope', sans-serif
}

h6,
p,
form {
    color: #bbbaba;
    font-size: 0.9rem
}

h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: rgb(245, 245, 245);
	text-align: center;
}

.form-control {
    background-color: #222222;
    border: 1px solid #545454
}

.form-control:focus {
    color: #495057;
    background-color: #222222;
    border: 0px;
    outline: 0
}

.btn {
    background-color: #5b72d8;
    border-radius: 4px;
    border: 0px
}

.btn:focus,
.btn:hover {
    background-color: #6d84ea;
    border: 0px;
    outline: none;
    box-shadow: none
}

*:focus {
    outline: none
}